//Colours
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
.Movie{
 
   margin-bottom: 100px;


   &__formposter{
       display: flex;
       background-color: $color-primary-dark;
       padding-left: 50px;
       .custom-button{
           margin-top: 50px;
       }
   }

  
}
.Mpagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 90px;
    margin-top: 15px;
    background-color: white;
}
